.Movie {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
    width: calc(20% - 10px);
}

.Movie img{
    transition: 0.4s ease-in;
    filter: grayscale(100%);
}
.Movie img:hover{
    filter: grayscale(0%);
}