.MovieDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /*position: relative;*/
    /*z-index: 1;*/
    width: 100%;

    /*display: flex;*/
    /*justify-content: space-between;*/
    padding-top: 70px;
    background-color: #e2e2e2;
}

.MovieDetailsDark {
    background-color: #575757;
}